

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  background-color: rgb(35,160,360);
}

.incio {
  background-color: rgb(35,160,255);
  /*color: rgb(35,160,360);*/
}

.text-white.text-center {
  color: #fff!important;
}

.container.text-center {
  padding-bottom: 50px;
  padding-top: 50px;
}

.img-fluid.d-block.mx-auto.mb-4.size {
  width: 180px;
  border-radius: 20px;
}

.star-light {
  border-top: 5px dotted white;
  width: 50%;
}

.navbar-light .navbar-toggler {
  background-color: white;
  z-index: 10000;
}

.navbar-light .navbar-toggler-icon {
  border-color: white;
  color: white;
}

.sr-only.colorinside {
  /*background-color: white;*/
  color: initial;
  border-color: inherit;
}

.btn.btn-primary.d-none.d-inline-block {
  float: right;
  border-radius: 8px;
}



.row-tweet {
  height: 150px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  margin-top: 50px;
}

.color-button {
  background-color: rgb(226,81,67);
  font-weight: bolder;
  width: 100%;
  height: 150px;
  border-radius: 25px;
  border-width: 0px;
  color:white;
  opacity: 0.8;
  font-size: 30px;
}

.middle-button {
  background-color: rgb(226,122,70);
  color: black;
  font-weight: bold;
  width: 100%;
  height: 150px;
  border-radius: 25px;
  border-width: 0px;
  color:white;
  opacity: 0.8;
  font-size: 30px;
}

.last-button {
  background-color: rgb(116,180,103);
  font-weight: bolder;
  width: 100%;
  height: 150px;
  border-radius: 25px;
  border-width: 0px;
  color:white;
  opacity: 0.8;
  font-size: 30px;
}

.hr-tweet {
  border-top: 5px dashed blue;
  width: 90%;
  
}

